/* fonts */
body{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* banner */
.banner{
    background: url('./image/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.banner_text{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_text h4{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.banner_text h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 70px;
}


/* CATEGORIES */
.category{
    margin-top: 70px;

}
.category h1{
    color: #F00;
    font-size: 60px;
    font-weight: 700;
}
.category p{
    color: #F00;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.category h3{
    color: #070211;
    font-family: Inter;
    font-size:35px;
    font-weight: 700;
    margin-bottom: 20px;
}
/* welcome */

.welcome{
    background: url("./image/Vectorrr.png");
    border-radius: 20px;
    margin: 60px;
    padding: 60px;
}

.welcome-content{
   display: flex;
   align-items: center;
   width: 100%;
}
.welcome-text{
 width: 70%;
}

.welcome-img{
  width: 30%;

}
.welcome-text h2{
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
}
.welcome-text p{
color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
}

.welcome-text button{
    margin-top: 15px;
    background-color: #10dd2b; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}



/* SCHEDULE  */
.schedule{
    margin: 0 60px 60px 60px;
    background: linear-gradient(to bottom, #FFE7E7, #f5f1f1);
    padding: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.schedule-content h4{
    color: #F00;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.schedule-content h4 span{
    color: black;

}
.schedule-content button{
    margin-top: 15px;
    background-color: #F00; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: 400;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

/* portfolio */
.portfolio{
    margin: 60px;
}
.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-image{
    width: 30%;
     margin-top: 20px;
     height: 100%;
     border: 3px solid white;
}
.portfolio-image:hover{
  box-shadow: #501e1e 3px 4px 11px;
  cursor: pointer;
}
.portfolio-image img{
    width: 100%;
   

}

.portfolio h4{
    color: #F00;
}
.portfolio h2{
    color: #070211;
    font-size: 38px;
    font-weight: 600;
   margin: 12px 0 10px 0;
}
.portfolio p{
    color: rgba(7, 2, 17, 0.60);
   
}
/* .portfolio-image:hover  {
    padding: 10px;
} */